<div class="container container-fluid">
  <img class="logo" alt="Essentials logo" src="assets/images/logoEssentialsDarkGreenLightGreen.png" />

  <div class="h2">Add new organization</div>

  <div class="form">
    <mat-form-field>
      <input matInput aria-label="Name" type="text" placeholder="Name" [(ngModel)]="organizationName">
    </mat-form-field>
    <br>
    // TODO employees uitlezen uit cvs
    <br>
    // TODO changemanager aanwijzen
    <br>
    <button class="btn btn-primary" (click)="createOrganization()">Create Organization</button>
  </div>


</div>
