<div class="block">
    <div style="display: inline-block;">
      <canvas baseChart width="1450" height="300"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [chartType]="lineChartType"></canvas>
    </div>


      <div style="display: inline-block; margin: 20px">
        <canvas baseChart width="300" height="300"
                [datasets]="radarChartData"
                [options]="radarChartOptions"
                [labels]="radarChartLabels"
                [chartType]="radarChartType">
        </canvas>
      </div>


      <div class="chart" style="display: inline-block; margin: 20px">
        <canvas baseChart width="300" height="300"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
        </canvas>
      </div>

      <div style="display: inline-block; margin: 20px">
        <canvas baseChart width="300" height="300"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
        </canvas>
      </div>


  <div style="display: inline-block; margin: 20px">
    <canvas baseChart width="300" height="300"
            [data]="polarAreaChartData"
            [labels]="polarAreaChartLabels"
            [legend]="polarAreaLegend"
            [chartType]="polarAreaChartType">
    </canvas>
  </div>
</div>
