<app-nav-bar>
  <div class="row mt-4"><h2 class="w-100 text-center">Dashboard</h2></div>
  <div class="row">
    <div class="col-sm-2">
      <div class="dropdown mt-3">
        <button class=" w-100 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose dashboard <fa-icon [icon]="faTachometer" class="fa-pull-right"></fa-icon>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/dashboard/project">Project</a>
          <a class="dropdown-item" routerLink=".">Roadmapitem</a>
          <a class="dropdown-item" routerLink="/dashboard/survey">Survey</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <span *ngIf="barChartProperties != null">
          <app-bar-chart [barChartProp]="barChartProperties"></app-bar-chart>
        </span>
        <span *ngIf="pieChartProperties != null">
          <app-pie-chart [pieChartProp]="pieChartProperties"></app-pie-chart>
        </span>
        <app-doughnut-chart></app-doughnut-chart>
        <app-polar-chart></app-polar-chart>
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
  </div>
</app-nav-bar>
