.container-fluid{
  background-color: white;
  margin: auto;
}

.row{
    margin: 0;
}

button{
    border-radius: 10px;
}

.container{
  border: solid;
  border-radius: 10px;
  border-color: #264754;
}

fa-icon{
  color: white;
}

.dark{
  margin-right: 20px;
  color: black;
}

a{
  cursor: pointer;
}

mat-card{
  border-radius: 11px;
  border: 1px solid #264754;
}

.mat-card-title{
  font-weight: normal;
  font-size: larger;
  padding: 10px;
  background-color: #264754;
  color: white;
  border-radius: 10px 10px 0 0;
}

.filter{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.mat-card-content{
  margin-top: 10px;
  margin-left: 20px;
}

h3{
  margin-bottom: 0;
}

.mat-checkbox{
  margin-right: 5px;
}

.top{
  width: 160px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-slider{
  margin-top: 10px;
}

.mat-form-field{
  width: 50px;
}

