<app-nav-bar>
<div class="container-fluid second">
    <div class="row">
        <div class="col-sm-3">
          <mat-card class="filter">
            <mat-card-title class="title">
              <h2>Apply filter<fa-icon [icon]="faFilter" class="fa-pull-right"></fa-icon></h2>
            </mat-card-title>
            <mat-card-content>
              <h3>Groups</h3>
              <mat-divider></mat-divider>
              <div>
                <div class="row top">
                  <mat-checkbox [(ngModel)]="checked1" (change)="onCheckBoxClick()" [value]="filterChangesName">All employees</mat-checkbox>
                </div>
                <div class="row top">
                  <mat-checkbox>Management</mat-checkbox>
                </div>
                <div class="row top">
                  <mat-checkbox>IT</mat-checkbox>
                </div>
                <div class="row top">
                  <mat-checkbox>Human Resources</mat-checkbox>
                </div>
              </div>
              <!--<h3>Progress</h3>
              <mat-divider></mat-divider>
              <mat-slider min="0" max="100" step="0.5" [(ngModel)]="value" (click) = "_filterChanges$.next(value)" [value]="filterChangesName"></mat-slider>
              <mat-form-field>
                <mat-label>Value</mat-label>
                <input matInput type="number" [(ngModel)]="value" (input) = "_filterChanges$.next(value)" [value]="filterChangesName">
              </mat-form-field>-->
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <div class="row d-flex">
            <h1>Change Events</h1>
            <a class="ml-auto" (click)="addChangeEvent()"><fa-icon [icon]="faPlus" class="dark fa-2x"></fa-icon></a>
          </div>
            <div class="container">
              <div *ngIf="(changes$ | async) as changes; else Error">
                <div *ngFor="let change of changes">
                  <app-change-button [change] = "change"></app-change-button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<ng-template #Error>
  <div class="card text-white bg-danger mb-3" *ngIf="errorMessage" data-cy="appError">
    <div class="card-header">
      <p>Error loading the changes: {{errorMessage}}
        Try again later.</p>
    </div>
  </div>
</ng-template>
</app-nav-bar>
