<app-nav-bar></app-nav-bar>
<div class="container-fluid second">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
              <button class="btn btn-primary" (click)="routeDashboard()">Dashboard<fa-icon [icon]="faTachometer" class="fa-pull-right"></fa-icon></button>
            </div>
            <div class="row">
                <button class="btn active" disabled>Change Events<fa-icon [icon]="faSync" class="fa-pull-right"></fa-icon></button>
            </div>
        </div>
        <div class="col">
          <div class="row d-flex">
            <h2>Change Events</h2>
            <a class="ml-auto" (click)="addChangeEvent()"><fa-icon [icon]="faPlus" class="dark fa-2x"></fa-icon></a>
          </div>
            <div class="container">
              <div *ngFor="let change of changeManager.CHANGEINITIATIVES">
                <app-change-button [change] = "change"></app-change-button>
              </div>
            </div>
        </div>
    </div>
</div>

