<div class="container-fluid">
    <img class="logo" alt="Company logo" src="assets/images/logo.png" />
    <img class="logoE" alt="Company logo" src="assets/images/logoE.png" />
</div>
<div class="row">
    <div class="col-11">
        <h1>Welcome, {{changeManager.FIRSTNAME}}</h1>
    </div>
    <div class="col">
        <button class="btn btn-secondary">Log out</button>
    </div>
</div>
<div class="container-fluid second">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
              <button class="btn btn-primary" (click)="routeDashboard()">Dashboard<fa-icon [icon]="faTachometer" class="fa-pull-right"></fa-icon></button>
            </div>
            <div class="row">
                <button class="btn active" disabled>Change Events<fa-icon [icon]="faSync" class="fa-pull-right"></fa-icon></button>
            </div>
        </div>
        <div class="col">
          <div class="row d-flex">
            <h5>Change Events</h5>
            <a class="ml-auto" (click)="addChangeEvent()"><fa-icon [icon]="faPlus" class="dark fa-lg"></fa-icon></a>
          </div>
            <div class="container">
              <div *ngFor="let change of changeManager.CHANGEINITIATIVES">
                <app-change-button [change] = "change"></app-change-button>
              </div>
            </div>
        </div>
    </div>
</div>

