<app-nav-bar>
  <div class="row mt-4"><h2 class="w-100 text-center">Dashboard Project</h2></div>
  <div class="row">
    <div class="col-sm-2">
      <div class="dropdown mt-3">
        <button class=" w-100 btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Project <fa-icon [icon]="faTachometer" class="fa-pull-right"></fa-icon>
        </button>

        <div *ngFor="let project of (projectData$ | async)">
          <div class="dropdown-menu breedte" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="project">{{project.Name}}</a>
          <!--
          <a class="dropdown-item" routerLink=".">Project</a>
          <a class="dropdown-item" routerLink="/dashboard/roadmapitem">Roadmapitem</a>
          <a class="dropdown-item" routerLink="/dashboard/survey">Survey</a>
          -->
          </div>
          <div class="dropdown-menu breedte" aria-labelledby="dropdownMenuButton"
               *ngFor="let ri of (projectData$ | async)">
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="container">
      </div>
    </div>
  </div>
</app-nav-bar>
