.progress{
  margin-top: 20px;
  border-radius: 20px;
}

.progress-bar{
  background-color: #8dc262;
  border-radius: 20px;
}

.btn-outline-light{
  border-radius: 20px;
  color: black;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.btn-outline-light:hover{
  opacity: 80%;
}

.icon{
  margin-right: 20px;
  padding: 5px;
  color: black;
}

a{
  cursor: pointer;
}

.icon:hover{
  background-color: lightgrey;
  border-radius: 20px;
}

.mat-card-title{
  font-size: larger;
  font-weight: 500;
}

::ng-deep mat-dialog-content{
  background-color: white;
}
