<app-nav-bar>
  <div class="container-fluid second">
    <div class="row">
      <div class="col-sm-3">
        <h1>{{roadmapItem.title}}</h1>
        <p>from {{roadmapItem.STARTDATE}} to {{roadmapItem.ENDDATE}}</p>
        <!--        <div class="row">-->
        <!--          <button class="btn active" disabled>Surveys-->
        <!--            <fa-icon [icon]="faClip" class="fa-pull-right fa-lg"></fa-icon>-->
        <!--          </button>-->
        <!--        </div>-->
      </div>
      <div class="col">
        <div *ngIf="roadmapItem.survey; else noSurvey">
          <div class="container">
            <div class="row d-flex">
              <h2>Survey</h2>
              <div>
                <a class="ml-auto" (click)="deleteSurvey()">
                  <fa-icon [icon]="faTrash" class="fa-pull-right icon fa-lg"></fa-icon>
                </a>
                <a class="ml-auto" (click)="updateSurvey()">
                  <fa-icon [icon]="faEdit" class="fa-pull-right icon fa-lg"></fa-icon>
                </a>
              </div>
            </div>
            <div *ngIf="roadmapItem.survey">
              <app-survey-button [survey]="roadmapItem.survey"></app-survey-button>
            </div>
          </div>
        </div>
        <ng-template #noSurvey>
          <div class="container">
            <div class="row d-flex">
              <h2>Survey</h2>
            </div>
            <div>
              <p>There is not yet a survey for this roadmap. Create one now!
                <a class="ml-auto" (click)="addSurvey()">
                  <fa-icon [icon]="faAdd" class="icon fa-lg"></fa-icon>
                </a>
              </p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</app-nav-bar>
