.container-fluid {
  margin-top: 40px;
}

h1 {
  border-right: black solid 5px;
  font-size: 40px;

  font-weight: bold;
}

h2 {
  padding-left: 10px;
  font-size: 30px;
}

fa-icon {
  color: black;
  margin-left: 20px;
}

fa-icon:hover{
  cursor: pointer;
}

.container {
  max-height: 800px;
  overflow: auto;
  border-radius: 10px;
  border: solid #264754;
  padding: 20px;
  margin: 20px;
}

p {
  font-size: 20px;
}
