.logo{
  width: 50%;
}

.brd-right{
  border-right: 5px solid #264754;
}

.scroll{
  height: 70vh;
  overflow: scroll;
}

.name{
  margin: 2em 2em 5em 2em;
}

.buttons{
  margin: 2em;
}

thead{
  background-color: #264754;
  color:white;
}
