<!--<div class="container-fluid">
  <img class="logo" alt="Company logo" src="../../../assets/images/logo.png" />
  <img class="logoE" alt="Company logo" src="../../../assets/images/logoEssentialsDarkGreenLightGreen.png" />
</div>
<div class="row">
  <div class="col-11">
    <h1>Welcome, {{changeManager.FIRSTNAME}}</h1>
  </div>
  <div class="col">
    <button class="btn btn-secondary">Log out</button>
  </div>
</div>-->


<!--Navbar -->
<nav class="navbar-expand-lg mb-1 navbar navbar-dark secondary-color lighten-1">
  <a class="navbar-brand" href="#"><img src="./assets/images/logoWithoutBrandWhite.png" width="75px">HoGent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../dashboard/home']" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../../change/home']" routerLinkActive="active">Change events</a>
      </li>
    </ul>

    <div class="account">
      Welcome, {{loggedInUser$.FIRSTNAME}}
    <button mat-button class="dropdown-toggle" [matMenuTriggerFor]="belowMenu">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" class="rounded-circle z-depth-0 w-50" alt="avatar image">
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="routeAccount()">Account <fa-icon [icon]=faUser class="fa-pull-right"></fa-icon></button>
      <button mat-menu-item (click)="routeSignOut()">Sign out <fa-icon [icon]=faSignInAlt class="fa-pull-right"></fa-icon></button>
    </mat-menu>
    </div>
    </div>
</nav>
<!--einde navbar -->
<ng-content></ng-content>
