<app-nav-bar>
  <div class="container-fluid second">
    <div class="row">
      <div class="col-sm-3">
        <h1>{{change.name}} <br/>
          <div class="progress">
            <div class="progress-bar" style="width:{{change.progress}}%;" role="progressbar">{{change.progress}}%</div>
          </div>
        </h1>
        <!--        <div class="row">-->
        <!--          <button class="btn active" disabled>Surveys-->
        <!--            <fa-icon [icon]="faClip" class="fa-pull-right fa-lg"></fa-icon>-->
        <!--          </button>-->
        <!--        </div>-->
        <div class="row">
          <button class="btn active">Roadmap
            <fa-icon [icon]="faRoad" class="fa-pull-right fa-lg"></fa-icon>
          </button>
        </div>
        <div class="row">
          <button class="btn btn-primary">Group
            <fa-icon [icon]="faGroup" class="fa-pull-right fa-lg"></fa-icon>
          </button>
        </div>
      </div>
      <div class="col">
        <div class="row d-flex">
          <h2>Surveys</h2>
          <!-- geen survey toevoegen aan change initiative, maar in roadmap-->
          <!-- <a class="ml-auto" (click)="addSurvey()"><fa-icon [icon]="faPlus" class="dark fa-2x"></fa-icon></a>-->
        </div>
        <!-- roadmap -->
        <div class="container">
          <div *ngFor="let roadMap of change.roadMap">
            <!-- roadmapItem -->
            <app-survey-button [roadmap]="roadMap"></app-survey-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-nav-bar>
