<mat-card class="shadow p-3 mb-5 bg-white">
  <div class="row">
    <p>Questions</p>
    <div class="col-12">
      <div *ngFor="let question of survey.Questions">
        <p>{{ question.QuestionString }}</p>
        <div class="answers" *ngFor="let answer of question.PossibleAnswers | keyvalue">
          - "{{answer.key}}": chosen {{answer.value.toString()}} times
        </div>
      </div>
    </div>

  </div>
</mat-card>
<mat-card class="shadow p-3 mb-5 bg-white">
  <div class="row">
    <p>Feedback</p>
    <div class="col-12">
      <div>
        <p>{{ survey.Feedback.QuestionString }}</p>
        <div class="answers" *ngFor="let answer of survey.Feedback.PossibleAnswers | keyvalue">
          - "{{answer.key}}": chosen {{answer.value}} times
        </div>
      </div>
    </div>

  </div>
</mat-card>



