<app-nav-bar>
  <div class="container" data-cy="body">
    <div class="row">
      <form [formGroup]="changeForm" (ngSubmit)='onSubmit()' class="col-sm-12 col-md-12 col-lg-8 mt-5">
        <h1 class="row mt-2" data-cy="title">Add a new change
          <fa-icon class="ml-2" [icon]="faPen"></fa-icon>
        </h1>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <mat-form-field fxLayout="row">
              <input matInput aria-label="Title" placeholder="Title" type="text" formControlName="name" required data-cy="titleInput"/>
              <mat-error *ngIf="changeForm.get('name')['errors'] && changeForm.get('name').touched" data-cy="titleError">
                {{ getErrorMessage(changeForm.get('name')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <input matInput aria-label="Description" placeholder="Description" type="text" formControlName="description"
                     required data-cy="descriptionInput"/>
              <mat-error *ngIf="changeForm.get('description')['errors'] && changeForm.get('description').touched" data-cy="descriptionError">
                {{ getErrorMessage(changeForm.get('description')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <input matInput aria-label="Start date" placeholder="Start date" type="date" formControlName="startDate"
                     required data-cy="startDateInput"/>
              <mat-error *ngIf="changeForm.get('startDate')['errors'] && changeForm.get('startDate').touched" data-cy="startDateError">
                {{ getErrorMessage(changeForm.get('startDate')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <input matInput aria-label="End date" placeholder="End date" type="date" formControlName="endDate"
                     required data-cy="endDateInput"/>
              <mat-error *ngIf="changeForm.get('endDate')['errors'] && changeForm.get('endDate').touched" data-cy="endDateError">
                {{ getErrorMessage(changeForm.get('endDate')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <mat-select aria-label="ChangeType" placeholder="Type of change" type="text" formControlName="changetype"
                          required data-cy="changeTypeSelect">
                <mat-option *ngFor="let type of changeTypes" [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="changeForm.get('changetype')['errors'] && changeForm.get('changetype').touched" data-cy="changeTypeError">
                {{ getErrorMessage(changeForm.get('changetype')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <mat-select aria-label="ChangeSponsor" placeholder="Sponsor" type="text" formControlName="changesponsor"
                          required data-cy="changeSponsorSelect">
                <div *ngIf="(users$ | async) as users; else Error">
                  <mat-option *ngFor="let user of users" [value]="user.EMAIL">
                    {{ user.FULLNAME() }}
                  </mat-option>
                </div>
              </mat-select>
              <mat-error *ngIf="changeForm.get('changesponsor')['errors'] && changeForm.get('changesponsor').touched" data-cy="changeGroupName">
                {{ getErrorMessage(changeForm.get('changesponsor')['errors']) }}
              </mat-error>
            </mat-form-field>
            <div>
              <mat-error *ngIf="changeForm.errors">
                {{ getErrorMessage(changeForm.errors) }}
              </mat-error>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row ml-0">
            <h3>Create a group for this change</h3>
            </div>
            <mat-form-field fxLayout="row">
              <input matInput aria-label="Change group name" placeholder="Change group name" type="text"
                     formControlName="changeGroupName"
                     required data-cy="changeGroupNameInput"/>
              <mat-error *ngIf="changeForm.get('changeGroupName')['errors'] && changeForm.get('changeGroupName').touched">
                {{ getErrorMessage(changeForm.get('changeGroupName')['errors']) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxLayout="row">
              <mat-select aria-label="Employees" placeholder="Employees" type="text"
                          formControlName="changeGroupEmployeeIds"
                          required multiple data-cy="employeesSelectList">
                <div *ngIf="(users$ | async) as users; else Error">
                  <mat-option *ngFor="let user of users" [value]="user.ID">{{ user.FULLNAME() }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <mat-checkbox fxLayout="row" [(ngModel)]="pushnotifications" data-cy="notificationSelectBox">Send pushnotifications to employees</mat-checkbox>
            <div *ngIf="added">
              <mat-card class="card text-white mb-3" (click)="addRoadmap()">
                Successfully added the new Change
                <fa-icon [icon]="faCheck" class="fa-pull-right fa-lg"></fa-icon>
                <br/>
                Click here to add a roadmap to your change
              </mat-card>
            </div>
          </div>
        </div>
        <div class="row mt-3 ml-0">
          <button class="btn btn-success" data-cy="submitButton" type="submit" [disabled]="!changeForm.valid">
            Add change
          </button>
        </div>
      </form>

      <div class="col-sm-12 col-md-12 col-lg-4 mt-4 justify-content-center">
        <h2>Your running changes</h2>

        <div *ngIf="(changes$ | async) as changes; else Error">
          <div *ngFor="let change of changes">
            <app-change-button [change]="change"></app-change-button>
          </div>
        </div>

      </div>

    </div>
  </div>

  <ng-template #Error>
    <div class="card text-white bg-danger mb-3" *ngIf="errorMessage" data-cy="appError">
      <div class="card-header">
        <p>Error loading the products: {{errorMessage}}
          Try again later.</p>
      </div>
    </div>
  </ng-template>
</app-nav-bar>
