.logo{
  width: 50%;
}
.answerbox{
  padding-left: 40px;
  width: auto;
}
.questionbox{
  border: rgb(38, 71, 84) 2px solid;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 90%;
}

.typeselection{
  padding-right: 25px;
}

.questionfield{
  width: 40%;
}

.btn-remove-question{
  height: fit-content;
  margin-left: 30px;
}

form{
  width: 100%;
}

.container-fluid{
  max-width: 95%;
}
